.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: auto;
}

.App_view {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 21px;
  flex: 1;
}

.cardV {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;

}

.cardA {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;

}

.cardR {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;

}
