.app {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.cardV {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  
}

.cardA {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  
}

.cardR {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  
}